<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Área de Cliente</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="cliente.js"></script> <!-- Script separado para lógica do cliente -->
</head>
<body>
<div class="container">
    <h1>Área de Cliente</h1>

    <!-- Formulário de Login -->
    <div id="login-form">
        <h2>Login</h2>
        <form id="loginForm">
            <label for="emailLogin">Email:</label>
            <input type="email" id="emailLogin" name="emailLogin" required><br>

            <label for="senhaLogin">Senha:</label>
            <input type="password" id="senhaLogin" name="senhaLogin" required><br>

            <label for="dataLogin">Data:</label>
            <input type="date" id="dataLogin" name="dataLogin" value="2024-01-01" min="2024-01-01" max="2024-12-31" required />


            <button type="submit">Entrar</button>
        </form>
    </div>


    <!-- Formulário de Cadastro -->
    <div id="cadastro-form">
        <h2>Cadastro</h2>
        <form id="cadastroForm">

            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required><br>

            <label for="pnome">Nome:</label>
            <input type="text" id="pnome" name="pnome" required><br>

            <label for="snome">SobreNome:</label>
            <input type="text" id="snome" name="snome" required><br>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br>

            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required><br>

            <label for="endereco">Endereço:</label>
            <input type="text" id="endereco" name="endereco" required><br>

            <button type="submit">Cadastrar</button>
        </form>
    </div>

</div>
</body>
</html>
