<form action="#"
      th:action="@{/atualizar/{id}(id=${produto.id})}"
      th:object="${produto}"
      method="post">
    <h1>Editar Produtos</h1>
    <label for="nome">Nome: </label>
    <input type="text" th:field="*{nome}" id="nome">
    <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
    <br/>
    <label for="preco">Preço:</label>
    <input type="text" th:field="*{preco}" id="preco">
    <span th:if="${#fields.hasErrors('preco')}" th:errors="*{preco}"></span>
    <br/>
    <label for="quantidade">Quantidade:</label>
    <input type="number" th:field="*{quantidade}" id="quantidade">
    <br/>
    <input type="submit" value="Atualizar">
</form>
